language_model_agent:
  module: "src.agents.instance.language_model_agent.LanguageModelAgent"
  parameters:
    language_model: "Fill the parameter 'language_model_name' in assignment config."
    system_prompt: "You are a useful assistant."

    inference_config_dict:
      temperature: 0
      top_p: 1
      max_completion_tokens: 32
      stop:
        - "\n"
